* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab) no-repeat;
    animation: gradient 10s ease-in infinite ;
    background-size: 300% 300%;

}

.container {
    max-width: 100%;

    height: 300px;
    display: flex;
    gap: 70px;
    justify-content: space-around;
    box-shadow: 0px 8px 10px rgba(0,0,0, .5);
    border-radius: 3px;
    padding: 50px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.container div{
    width: 200px;
    height: 200px;
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(60deg,10% #00bfff,#0f0101bb);
    box-shadow: 5px 5px 15px rgba(0,0,0, .7);
    letter-spacing: 3px;
    border-radius: 20px;
    transform: rotate(45deg);
}

.container span{
  display: block;
    font-size: 50px;
    color: #fff;
    transform: rotate(-45deg);
}


.container span.tempo{
  display: block;
    font-size: 15px;
    color: #fff;
}


@keyframes gradient {
    0%{
        background-position: 0  50%;
    }
    
    50%{
        background-position: 100% 50%;
    }
    
    100%{
        background-position: 0  50%;
    }
    
}
